.site-info {
  background-color: #9C9C9C;
  height: auto;
  @include cf;

  .columns {
    height: $height-info;
    margin: 0 0 0 1%;
  }


  .columns {
    margin: 0 0 0 2%;
  }

  .info-01,
  .info-02  {
    background: $backgroundcolor-info1;
    float: left;
    width: ($site-info-width / 4) - 1;
    height: $height-info;
  }

  .info-02 {
    float: right;
  }

  .info-03 {
    background: $backgroundcolor-info1;
    float: right;
    width: ($site-info-width / 2) - 1;
    height: $height-info;
  }

  .info-04,
  .info-05 {
    background: $backgroundcolor-info2;
    float: left;
    width: ($site-info-width / 4) - 1;
    height: $height-info;
  }

  .info-05 {
    float: right;
  }

  .info-06 {
    background: $backgroundcolor-info2;
    float: right;
    width: ($site-info-width / 2) - 1;
    height: $height-info;
  }
}
